/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 1em;
}

/* Estilo para o cabeçalho */
h1.nome {
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

/* Estilo para a seção de hobbies */
section#hobbies {
    margin-top: 20px;
}

h2.meusHobbies {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
}

ul li {
    margin-bottom: 5px;
}

ul li img {
    vertical-align: middle;
    margin-right: 10px;
}

/* Estilo para a seção de interesses em programação */
h2.interesse {
    color: #666;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

/* Estilo para a frase dahora */
h2 + p cite {
    font-style: italic;
}

/* Estilo para o rodapé */
h2.Contatos {
    color: #666;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 5px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
.imagem-corrida img,
.imagem-viajar img,
.imagem-roblox img {
    width: 150px;
    height: 150px;
}

